@*﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You are not allowed to access this page</h2>
        <p>Please, click the button below to be redirected to the home page.</p>
        <hr />
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>*@

<article class="entry post-2530 page type-page status-publish hentry">

	<header class="entry-header">
		<h1 class="entry-title entry-title-singular">Access Denied</h1><div class="entry-meta">
		</div>
	</header>

	<div class="entry-content">
		<p style="text-align: center;"></p>
	</div>
	<footer class="entry-footer">
		<div class="entry-taxonomies">
		</div>

		<div class="entry-actions">
		</div>
	</footer>
</article>