@{
ViewData["Title"] = "Home Admin Page";
}
<div class="mt-4 p-5 bg-light text-center">
	<h2 class="display-4">Hello, Admin!</h2>
	<p class="lead mb-1 mt-3">
		This is your administrator area - you can <b>read</b>, <b>create</b>,
		<b>delete</b> and <b>edit</b> Movies.
		<br />You can <b>see</b> all <b>Orders</b> and all Users, too!
	</p>
	<hr class="my-4">
	<a asp-area="" asp-controller="Movie" asp-action="AllMovies"
	   class="btn btn-primary btn-lg">All Movies</a>
	<a asp-area="" asp-controller="Movie" asp-action="Create"
	   class="btn btn-primary btn-lg">Add Movie</a>
	<a asp-area="" asp-controller="Order" asp-action="AllOrders"
	   class="btn btn-primary btn-lg">All Orders</a>
	<a asp-area="Admin" asp-controller="Users" asp-action="AllUsers"
	   class="btn btn-primary btn-lg">All Users</a>
</div>